<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Android 4.1-4.3 need WRITE permission for app-specific external files.
         Newer Android versions do not need it for getExternalFilesDir(). -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-feature
        android:name="android.hardware.gamepad"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:appCategory="game"
        android:isGame="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ExitSafeZGloomActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

    </application>

</manifest>
